<table class="teble">
  <thead>
    <tr>
      <th class="header1">id</th>
      <th class="header2">name</th>
      <th class="header3">owner_id</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat|  %>
    <tr>
      <td><%= cat.id %></td>
      <td><%= cat.name %></td>
      <td><%= cat.owner_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>
